/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #55445c;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* header стили */
.header {
  padding: 20px 0;
  background-color: #436AAC;
  margin-bottom: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_list {
  display: flex;
  gap: 30px
}



/* about_me стили */
.about_me {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #436AAC;

}
.about_me .container {
  display: flex
}
.me_foto {
  width: 20%;
}

/* education стили */


/* projects стили */
.projects{
  background-color: #436AAC;
}

.block_project {
  position: relative;
  width: 48%;
  height: 500px;
  overflow: hidden;
  border: none;
  border-radius: 15px;
  float: left;
  margin: 10px;
  z-index: -2;
  background-color: #43B7B8;
}

.back_video {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  object-fit: cover;
  z-index: -1;
  filter: blur(1px);
}

.json_viewer_description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1
}

.pvz_site_description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  
}


/* hobbies стили */


/* contact стили */


/* footer стили */
